RewriteEngine On

# Mengarahkan permintaan ke index.php jika file atau direktori tidak ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ api/index.php/$1 [L]
